<%= form_for @credit do |f| %>

    <div>
        <%= f.label "Song Title" %>
        <%= f.text_field :song_title, class: 'form-control' %>
    </div>

    <div>
        <%= f.label "Mix Version" %>
        <%= f.text_field :mix_version, class: 'form-control' %>
    </div>

    <div>
        <%= f.label "Artist Name" %>
        <%= f.select :artist_ids, options_for_select(artists_for_select), {}, multiple: "true", class: "form-control", id: 'select_two' %>
        <p class="text-right"><%= link_to 'Add New Artists', new_artist_path, data: {toggle: 'modal', target: '#exampleModal'} %> </p>
        
    </div>

    <br>
    <div>   
        <%= f.submit "Submit", class: 'btn btn-light' %>
    </div>

<% end %>