<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <br>
            
            <%= link_to '[Create New Credit]', new_credit_path, class: "btn btn-outline-dark" %>
     

            <br><br>

            <% @credits.each do |disp| %>
            
                <div class="song_title">
                <a class="nav-link" href="<%= credit_path(disp) %>"><%= disp.song_title %></a>
                </div>
                    <% if disp.mix_version? %> 
                        (<%= disp.mix_version %>) 
                    <% end %> 
                    by 
                    <% disp.artists.each do |artist|%>
                        <%= artist.artist_name %> 
                    <% end %> <br>
            <% end %>

        </div>
    </div>
</div>