<!DOCTYPE html>
<html>
  <head>
    <title>Credz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('icons8-visible.png') %>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
  <%= custom_bootstrap_flash %>

  <%= link_to "credz", root_path, class: "logo" %>

    <%# checks if user is logged in via devise and loads the following code if true.
    if the user is not logged in the code will NOT load %>
      <% if current_user %>
        <%= link_to 'Logout', destroy_user_session_path, method: 'DELETE', class: 'd-flex flex-row-reverse' %>
      <% else %>

        <%= link_to '[Sign Up]', new_user_registration_path %>  
        <%= link_to '[Log In]', new_user_session_path %>  

      <% end %>

  <%= yield %>

  <footer>
    <div class="footer_content">
    Created by Alex G. Legaspi
    </div>
  </footer>

  </body>
</html>